USE [master]
GO
/****** Object:  Database [[PPIChallengeTest]]    Script Date: 27/5/2024 15:11:34 ******/
CREATE DATABASE [PPIChallengeTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PPIChallengeTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PPIChallengeTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PPIChallengeTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PPIChallengeTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPIChallengeTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPIChallengeTest]
GO
/****** Object:  Table [dbo].[Activos]    Script Date: 27/5/2024 15:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ticker] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IDTipoActivo] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 27/5/2024 15:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[IDCuenta] [int] IDENTITY(1,1) NOT NULL,
	[IDPersona] [int] NULL,
	[VigenciaDesde] [datetime] NOT NULL,
	[VigenciaHasta] [datetime] NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[IDCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 27/5/2024 15:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[DescripcionEstado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 27/5/2024 15:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[IDOrden] [int] IDENTITY(1,1) NOT NULL,
	[IDCuenta] [int] NOT NULL,
	[IDActivo] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Operacion] [varchar](1) NOT NULL,
	[Estado] [int] NOT NULL,
	[MontoTotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Ordenes] PRIMARY KEY CLUSTERED 
(
	[IDOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 27/5/2024 15:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IDPersona] [int] IDENTITY(1,1) NOT NULL,
	[CUIL] [varchar](100) NOT NULL,
	[RazonSocial] [varchar](100) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
	[Telefono] [varchar](100) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[IDTipoPersona] [int] NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[IDPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDeActivos]    Script Date: 27/5/2024 15:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeActivos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TiposDeActivos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDePersona]    Script Date: 27/5/2024 15:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDePersona](
	[IDTipoPersona] [int] IDENTITY(1,1) NOT NULL,
	[TipoDePersona] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TiposDePersona] PRIMARY KEY CLUSTERED 
(
	[IDTipoPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activos]  WITH CHECK ADD  CONSTRAINT [FK_Activos_Ta] FOREIGN KEY([IDTipoActivo])
REFERENCES [dbo].[TiposDeActivos] ([ID])
GO
ALTER TABLE [dbo].[Activos] CHECK CONSTRAINT [FK_Activos_Ta]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_Activos] FOREIGN KEY([IDActivo])
REFERENCES [dbo].[Activos] ([ID])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Ordenes_Activos]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_Cuentas] FOREIGN KEY([IDCuenta])
REFERENCES [dbo].[Cuentas] ([IDCuenta])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Ordenes_Cuentas]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_Estados] FOREIGN KEY([Estado])
REFERENCES [dbo].[Estados] ([ID])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Ordenes_Estados]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_TiposPersonas] FOREIGN KEY([IDTipoPersona])
REFERENCES [dbo].[TiposDePersona] ([IDTipoPersona])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_TiposPersonas]
GO
ALTER TABLE [dbo].[TiposDeActivos]  WITH CHECK ADD  CONSTRAINT [FK_TiposDeActivos_Activos] FOREIGN KEY([ID])
REFERENCES [dbo].[TiposDeActivos] ([ID])
GO
ALTER TABLE [dbo].[TiposDeActivos] CHECK CONSTRAINT [FK_TiposDeActivos_Activos]
GO
USE [master]
GO
